@import "./global.css";
.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 800px;
    margin-right: 2.5rem;
    margin-top: 3rem;
  }
  
  .newsletter-title {
    font-size: 1rem;
    font-weight: 720;
    color: var(--color-neutral-2);
    margin-top: 1.5rem;
    margin-right: 6rem;
  }
  
  .newsletter-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-neutral-4);
    border-radius: 30px;
    overflow: hidden;
    padding: 0.25rem 0.5rem;
    background: var(--color-neutral-7);
  }
  
  .newsletter-input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: none;
    background: transparent;
    outline: none;
    font-size: 0.9rem;
    color: var(--color-neutral-2);
    margin-right: 6rem;
  }
  
  .newsletter-btn {
    background: var(--color-primary-1);
    color: var(--color-neutral-8);
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    cursor: pointer;
  }
  
  .newsletter-btn:hover {
    background: var(--color-hover-blue);
  }
  