@import "global.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
/* PaymentForm Styles */
.payment-form {
  width: 100%;
  height: fit-content;
  padding: 20px;
}
.payment-form .detailsIcons {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.payment-form .detailsIcons .IconContainer {
  background-color: var(--color-neutral-7);
  width: 48%;
  border-radius: 10px;
  padding: 5px 10px;
}
.payment-form .detailsIcons .IconText {
  width: 85%;
}
.payment-form .detailsIcons .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
}

/* CreditCardInfoForm Styles */
.credit-card-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.credit-card-form .input-field {
  margin-bottom: 25px;
}
.credit-card-form .checkbox {
  width: 60%;
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.credit-card-form .checkbox .input-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  vertical-align: baseline;
}
.checkbox .input-container {
  height: 20px;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.credit-card-form .checkbox label {
  font-size: 15px;
  text-transform: capitalize;
  color: var(--color-neutral-4);
  font-weight: 600;
  margin-left: 10px;
  width: fit-content;
  text-align: left;
}

.credit-card-form .checkbox input {
  width: 20px;
  height: 20px;
}
.credit-card-form textarea {
  border: 1px solid var(--color-neutral-6);
  border-radius: 10px;
  outline: none;
  margin: 20px 0;
  padding: 5px;
}
.credit-card-form textarea:focus {
  border: 1px solid var(--color-neutral-4);
}
.credit-card-form .card-expiration input {
  width: 90%;
  margin-right: 10px;
}

/* payment-confirmation-detailes */
.payment-confirmation-detailes {
  margin-top: 100px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--color-neutral-6);
  border-radius: 20px;
  padding: 20px 15px;
}
.photo-container,
.host-container {
  width: 50%;
}
.payment-confirmation-detailes .TextedIcons-container .IconContainer {
  width: 50%;
  padding-left: 10px;
}
.TextedIcons-container {
  background-color: var(--color-neutral-7);
  border-radius: 10px;
  padding: 5px 10px;
}
.payment-confirmation-detailes
  .TextedIcons-container
  .IconContainer:first-child {
  border-right: 1px solid var(--color-neutral-5);
}
.price-details-container {
  width: 100%;
}
.paymment-details {
  /* width: 90%; */
  padding: 10px;
}
.Price-details {
  justify-content: space-between !important;
}
.payment-confirmation-detailes .review-count {
  width: 100px;
  vertical-align: baseline;
  font-size: 14px;
  margin-left: 15px;
}
/* Sign Forms */
.sign-up-overlay,
.Sign-In-overlay,
.security-overlay,
.user-confirmation-overlay {
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 30;
  color: var(--color-neutral-4);
  background-color: var(--color-neutral-7);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.sign-up-form,
.sign-in-form,
.security-container,
.user-confirmation {
  padding: 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 370px;
  z-index: 25;
  background-color: var(--color-neutral-7);
  border-radius: 20px;
}
.sign-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 15px;
}

.sign-buttons button {
  width: 45%;
}
.sign-up-form form {
  width: 80%;
  margin: 0 20px;
}
.sign-up-form form .input-buttons,
.sign-in-form .input-buttons {
  justify-content: flex-end;
}
.sign-in-form .input-buttons button {
  border: none;
}
.sign-in-form .input-buttons button:hover {
  background-color: transparent;
}
/* User Confirmation */
.ant-radio-group label {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-neutral-5);
}
.ant-radio-group label:last-child {
  border: none;
}
.user-confirmation {
  text-align: center;
}
/* security-container  */
.security-container {
  height: 250px;
  width: 350px;
  text-align: center;
}
/* إضافة هذه التنسيقات لضبط التوزيع في BookingDetails */
.booking-details-container {
  display: flex;
  justify-content: space-between; /* توزيع العناصر بين الجانبين */
  align-items: center;
  width: 100%;
}

.booking-details-container .details-left {
  display: flex;
  align-items: center; /* محاذاة الـ icon مع الـ title */
}

.booking-details-container .details-right {
  text-align: right;
}
/* trip-comments */
.trip-comments-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: 20px;
  border: 1px solid var(--color-neutral-6);
}

.trip-comments-container .trip-comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.trip-comments-container .comment-container-input .input-buttons {
  /* justify-content: flex-end;   */
  width: 18% !important;
  align-items: start;
  /* margin-bottom: 20px; */
}
.trip-comments-container .comment-container-input .input-buttons button {
  height: fit-content;
  padding: 4px 5px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  width: fit-content;
  align-items: center;
  text-align: center;
}
.trip-comments-container .comment-container-input .input-buttons button svg {
  padding: 2px;
  font-size: 15px;
}
.trip-comments-container .reviews-container {
  margin-top: 10px;
  width: 100%;
}
.reviews-container .comment-footer {
  width: 300px;
}

/* hostcard */
.hostcard-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: auto;
  min-height: 550px;
  padding: 10px;
  border: 1px solid var(--color-neutral-6);
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.hostcard-contactinfo
.hostcard-header {
  width: 100%;
  justify-content: space-evenly;
}
.hostcard-container .host-review {
  background-color: var(--color-neutral-7);
  width: 90%;
  margin: auto;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.hostcard-container .hostcard-contactinfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.hostcard-container .hostcard-contactinfo .website-section{
  width: 60%;
}
.hostcard-container .hostcard-contactinfo .website-section a{
  color: var(--color-neutral-3);
  font-weight: 600;
  text-decoration: none;
  margin-left: -15px;

}
.hostcard-container .hostcard-contactinfo .socialmedia-links button{
  border: none;
}
.hostcard-container .hostcard-contactinfo .socialmedia-links button:hover{
  background-color: transparent;
  transform: scale(1.1 , 1.1);
}
.hostcard-container .hostcard-contactinfo .contactbtns button:hover svg {
  color: var(--color-neutral-7);
}

.hostcard-container .hostcard-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
}
.hostcard-container .hostcard-footer .IconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
  width: 65% !important;
}

/* Media Queries For Mobile */
@media screen and (max-width: 768px) {
  .payment-form {
    width: 90vw;
    margin: 30px auto;
    flex-direction: column;
  }
  .payment-confirmation-detailes {
    width: 90vw;
    height: fit-content;
    margin: 30px auto;
  }
  .photo-container,
  .host-container {
    width: 100%;
  }
  .payment-confirmation-detailes .photo-container img {
    margin: auto;
    height: 180px;
    width: 90%;
    object-fit: fill;
  }
  .payment-confirmation-detailes
    .TextedIcons-container
    .IconContainer:first-child {
    border-right: none;
  }
  .booking-details {
    justify-content: center;
  }
  .rate-container {
    justify-content: center;
  }
  .payment-form .trip-details .detailsIcons {
    flex-direction: column;
  }
  .payment-confirmation-detailes .TextedIcons-container .IconContainer,
  .payment-form .trip-details .detailsIcons .IconContainer {
    width: 100%;
    margin-bottom: 5px;
  }
  /* .sign-up-form */
  .sign-up-form,
  .sign-in-form,
  .user-confirmation {
    padding: 20px 0;
    width: 95vw;
    height: 60vh;
    bottom: 0;
    /* left: 50%; */
    /* transform: translate(0 , 0 ); */
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .sign-in-form {
    padding: 20px;
    height: 300px;
    border-radius: 20px;
    bottom: 0;
    /* transform: translate(-50%, 0); */
  }
  .sign-buttons {
    width: 80%;
  }
  .sign-in-form .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sign-in-form .btn-container button {
    width: 80%;
  }
  /* security-container */
  .security-container {
    height: 250px;
    width: 90%;
    bottom: 0;
    /* transform: translate(-50%, 0); */
  }
  /* user-confirmation */
  .user-confirmation {
    height: 320px;
    width: 90%;
    bottom: 0;
    /* transform: translate(-50%, -10px); */
  }
  .congratulations-text {
    text-align: center; /* محاذاة النص في المنتصف */
  }
  .mt-4.d-flex .w-100,
  .mt-4.d-flex .w-md-auto {
    width: 100%; /* تجعل الأزرار تأخذ عرض كامل عند الشاشات الصغيرة */
  }

  /* trip-comments */
  .trip-comments-container {
    width: 95%;
    margin: auto;
  }
  .trip-comments-container
    .comment-container-input
    .input-buttons
    button
    small {
    display: none;
  }
  /* hostcard-container */
  .hostcard-container { 
    width: 95%;
    margin: auto;
  }
}

/* Media Queries For Tablet */
@media screen and (min-width: 760px) and (max-width: 1030px) {
  .payment-form .trip-details .detailsIcons {
    flex-direction: column;
  }
  .payment-form .trip-details .detailsIcons {
    flex-direction: column;
  }
  .payment-form .trip-details .detailsIcons .IconContainer {
    width: 100%;
    margin-bottom: 5px;
  }
  /* trip-comments */
  .trip-comments-container
  .comment-container-input
  .input-buttons
  button
  small {
  display: none;
}
  .reviews-container .comment-footer {
    width: 280px;
  }
  .trip-comments-container .comment-container-input .input-buttons {
    width: fit-content !important;
    margin-right: 0px;
  }
  .trip-comments-container .comment-container-input .input-buttons button {
    /* display: none; */
    width: fit-content;
  }
   /* hostcard-container */
   .hostcard-container { 
    /* width: 35%; */
    /* margin: auto; */
  }
}

/*Booking Confirmation*/
@media (max-width: 576px) {
  .booking-confirmation-container {
    padding: 1rem;
  }
  .mt-4.d-flex {
    flex-wrap: wrap;
    justify-content: space-between; /* تباعد الأزرار بشكل مناسب */
  }

  .mt-4.d-flex .w-100 {
    width: 48%; /* تحديد العرض ليكون قريب من نصف الشاشة */
  }

  .mt-4.d-flex .w-md-auto {
    width: 48%; /* تحديد العرض ليكون قريب من نصف الشاشة */
  }
}
